@model IEnumerable<QLNV_SER.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AACreate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AACreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AAStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AASelection)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserPass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AACreate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AACreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AAStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AASelection)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserPass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserID })
        </td>
    </tr>
}

</table>
